body {
    
}
.wrap {
    margin-left: 7.5%;
    margin-right: 6.1%;
}
#containerPage {
    display: flex;
}
#selectionLeague {
    display: flex;
    padding-top: 42px;
}
.league {
    width: 42px;
    height: 92px;
    object-fit: contain;
    background-color: var(--minty-green);
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}
#moitiePageGauche {
    width: 1440px;
  background-color: rgba(0, 0, 0, 0.1);
}
.rectSelect {
        width: 41px;
        height: 8px;
        margin-top: 24px;
        background-color: var(--minty-green);
        border-bottom: solid 8px green;
}
#sectionClubs {
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);   
}
#searchBar {
  padding-top: 80px;
  height: 64px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: var(--very-light);
  color: grey;
  display: flex;
    justify-content: space-between;
}
#searchBar img {
    height: 32px;
    width: 32px;
    align-self: flex-end;
}

.Rectangle {
    height: 1px;
    margin-top: 16px;
    background-color: grey;
  }
#blocLogos {
    padding-top: 9.4%;
}
.ligneClub {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4%;
}
.blocClub {
    width : 188px;
    text-align: center;
    border-radius: 10px;
    border: solid 0.9px black;
    background-color: white;
    transition: 0.1s ease-out;

}
.blocClub:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.blocClub img {
    width : 40px;
    height: 47px;
    padding-top: 48px;
    padding-bottom: 10px;
}
.blocClub p {
    padding-bottom: 48px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: purple;
}



.moitiePageDroite {
    width: 480px;
  background-color: purple;
}
.Logotype-Premier-League {
    width: 67.6px;
    height: 104px;
    padding-top: 76px;
    object-fit: contain;
    background-color: var(--minty-green);
    display: block;
    margin: auto;
  }

.tables {
    width: 289px;
    height: 64px;
    position: relative;
    top: -20px;
    opacity: 0.1;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: var(--white);
    text-align: left;
    padding-left: 20.4%;
    padding-right: 19.6%;

}