body {
    overflow: hidden;
}
.wrap {
    margin-left: 7.5%;
    margin-right: 6.1%;
}
::-webkit-scrollbar {
    display: none;
}
#containerPage {
    display: flex;
    z-index: 20;
    background: white;
}
#selectionLeague {
    display: flex;
    padding-top: 42px;
}
.league {
    width: 42px;
    height: 92px;
    object-fit: contain;
    background-color: var(--minty-green);
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.league img {
    height: 80%;
    filter: grayscale(1);
}
#leagueActive::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    width: 34%;
    height: 8px;
    background: green;
}
#moitiePageGauche {
  width: 67%;
  background-color: rgba(0, 0, 0, 0.1);
}
.rectSelect {
    width: 41px;
    height: 8px;
    background-color: var(--minty-green);
    border-bottom: solid 8px green;
    position: absolute;
    bottom: 0;
}
#sectionClubs {
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);   
    height: 672px;
}
#searchBar {
  padding-top: 80px;
  height: 64px;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: normal;
  color: var(--very-light);
  color: grey;
  display: flex;
    justify-content: space-between;
}
#searchBar img {
    height: 32px;
    width: 32px;
    align-self: flex-end;
}
form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input {
    background-color: transparent;
    border: none;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
}
button {
    background-color: transparent;
    border: none;
}


.Rectangle {
    height: 1px;
    margin-top: 16px;
    background-color: grey;
  }
#blocLogos {
    padding-top: 9.4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    overflow: auto;
    height: 512px;
}
.ligneClub {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4%;
}
.blocClub { 
    text-align: center;
    border-radius: 10px;
    border: solid 0.9px black;
    background-color: white;
    transition: 0.1s ease-out;

}

.blocClub:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.blocClub img {
    width : 40px;
    height: 47px;
    padding-top: 48px;
    padding-bottom: 10px;
}
.blocClub p {
    padding-bottom: 48px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: purple;
}



.moitiePageDroite {
  width: 33%;
  height: 100vh;
  background-color: purple;
  position: relative;
  overflow: auto;
}
.Logotype-Premier-League {
    width: 67.6px;
    height: 104px;
    padding-top: 76px;
    object-fit: contain;
    background-color: var(--minty-green);
    display: block;
    margin: auto;
  }

.tables {
    width: 289px;
    height: 64px;
    position: relative;
    top: -20px;
    opacity: 0.1;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    color: var(--white);
    text-align: left;
    padding-left: 20.4%;
    padding-right: 19.6%;
    padding-bottom: 16px;

}
#containerLignes {
    width: 70%;
    margin: 0 15% 0 15%;
    font-family: Roboto;
  font-size: 14px;
  color: white;
}
#containerLignes hr {
    background-color: rgba(204, 104, 243, 0.2);
}
.ligne {
    display: flex;
    align-items: center;
    text-align : center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.numeroLigne {
    width: 10%;
    text-align : center;
}
.blocOval {
    width: 5%;
    display: flex;
    justify-content: center;
    padding-left: 16px;
    padding-right: 19px;
}
.oval {
    width : 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
}
.imageLigne {
    width: 10%;
}

.imageLigne img {
    width : 24px;
    height: 24px;
    display: block;
    margin: auto;
}

.nomLigne {
    width: 100%;
    text-align: left;
    padding-left: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.scoreLigne {
    width: 55%;
    text-align: right;
}

.filtreViolet {
    background-color: purple;
    /* background-image: linear-gradient(to top, #37003c 87%, rgba(55, 0, 60, 0) 13%); */
    opacity: 0.6;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}


#containerPage2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -5;
    /* display: none; */
    display: flex;
    background: transparent;
    
}
#moitieDroite2 {
    width: 100%;
    margin: 0 auto;
    background: white;
}
#moitieGauche2 {
    width: 288px;
    height: 100vh;
    background-color: rgb(94, 6, 94);
    opacity: 0.9;
}
.wrap2 {
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}
#presentationClub {
    display: flex;
    padding-top: 80px;
    padding-bottom: 97px;
}
.imagePresentation {
    width: 130px;
    height: 150px;
    padding-right: 80px;
}
.imagePresentation img {
    width: 100%;
    height: auto;
}
.descriptionClub h2 {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 16px;
}
.descriptionClub p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #37003c;
}
.descriptionBold {
    font-weight: bold;
}
#searchBar2 {
    color :#e8e8e8;
    padding-bottom: 16px;
}
#containerHeaderGrid {
    display: flex;
    justify-content: space-between;
}
#boutonFermer {
    align-content: center;
    text-align: center;
    padding-top: 360px;
}